*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #020202;
    color: white;
}
nav{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav img{
    height: 50px;
    margin-left: 80px;
}
nav .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-right: 150px;
}
nav button{
    color: white;
    border: none;
    background-color: #343333;
    margin-right: 60px;
    padding: 16px 16px;
    border-radius: 10px;
}
#title{
    text-align: center;
    font-size: 150px;
    margin-top: 20px;
}
.buttons{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 30px;
}
.buttons button{
    color: white;
    border: none;
    background-color: #343333;
    margin: 30px 10px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
}
.buttons #unique{
    background-color: rgb(255, 77, 0);
}
.cards{
    height: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.cards .card{
   width: 25%;
   background-color: #343333;
   border-radius: 20px;
   overflow: hidden;
}
.cards .card img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.cards .card .info{
    padding: 20px;
}
.cards .card .info p{
    margin-top: 30px;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 20px;
}
.cards .card .info #about{
    padding: 8px 16px;
    color: rgb(219, 87, 39);
    border-radius: 20px;
    background-color: rgb(21, 6, 1);;
}
.cards .card .info #date{
   color: gray;
}